[run]
source = src
omit = /Users/maijapajumaa1/Library/Caches/**,src/index.py,src/tests/copies/database_connection_copy.py,src/repositories/**,src/tests/user_repository_test.py,src/tests/month_repository_test.py,src/database_connection.py,src/entities/**

